.post{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.post > .inner{
	padding: 75px 20px;
}
.post .post-title{
	margin-left: -20px;
	padding-left: 20px;
	background: linear-gradient(to right, rgba(0,0,0,1) 20px,rgba(255,255,255,0) 20px);
	span{
		padding-right: 5px;
	}
}
.post-title{
    width: 60%;
	span{
		background: black;
		color: white;
    	font-size: 34px;
	}
}

//enter
.post.post-appear{
	opacity: 0.01;
}
.post.post-appear-active{
	opacity: 1;
	transition: opacity 1s ease-out;
}