.post{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
}
.post > .inner{
	padding: 75px 20px;
	overflow: hidden;
}
.post .post-title{
	margin-left: -20px;
	margin-top: 0;
	padding-left: 20px;
	background: linear-gradient(to right, rgba(0,0,0,1) 20px,rgba(255,255,255,0) 20px);
	span{
		padding-right: 5px;
	}
}
.post-title{
	span{
		background: #232323;
		color: white;
    	font-size: 34px;
	}
}

.post .post-category-list{
	margin-left: -20px;
	margin-bottom: 5px;
}
.post .post-category{
	font-size: 12px;
	padding: 2px 7px;
}

//enter
.post.post-appear > .inner,
.post.post-enter > .inner{
	width: 0;
	opacity: 0.1;
	.post-title + div{
		opacity: 0.01;
	}
}
.post.post-appear-active > .inner,
.post.post-enter-active > .inner{
	width: 100%;
	opacity: 1;
	transition: width .5s cubic-bezier(.42,.03,.4,1), opacity .4s ease-out;
	.post-title + div{
		opacity: 1;
		transition: opacity .5s ease-out .6s;
	}
}

.post-leave > .inner{
	opacity: 1;
}
.post-leave-active > .inner{
	opacity: 0;
	transition: opacity .3s ease-in;
}