.post-title{
    width: 60%;
	span{
		background: black;
		color: white;
    	font-size: 34px;
    	line-height: 1.25em;
	}
}

//enter
.post.post-appear{
	opacity: 0.01;
}
.post.post-appear-active{
	opacity: 1;
	transition: opacity 1s ease-out;
}