.post-teaser-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.post-teaser{
	position: absolute;
	// min-height: 200px;
	padding: 0;
	p{
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
}


// appear
.post-teaser.post-teaser-appear{
	opacity: 0.01;
}
.post-teaser.post-teaser-appear-active{
	opacity: 1;
	transition: opacity .75s ease-out;
}

// leave
.post-teaser.post-teaser-leave{
	opacity: 1;
}
.post-teaser.post-teaser-leave-active{
	opacity: 0.01;
	transition: opacity .5s ease-in;
}

// enter
.post-teaser.post-teaser-enter{
	opacity: 0.01;
}
.post-teaser.post-teaser-enter-active{
	opacity: 1;
	transition: opacity .5s ease-out;
}

// layout
.post-teaser{
	transition: transform 1s ease-out;
}

.no-layout-transition .post-teaser{
	transition: none;
}

.post-teaser .post-title {
	width: 95%;
	a{
		background: black;
    	color: white;
    	line-height: 1.25em;
	}
}