.post-teaser-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.post-teaser{
	position: absolute;
	cursor: pointer;
	padding: 0 0 25px;
	overflow: hidden;
	p{
    	overflow: hidden;
    	text-overflow: ellipsis;
    	margin-top: 15px;
	}
}
.post-teaser:last-child{
	padding-bottom: 50px;
}

.post-teaser .post-title{
	margin-top: 0;
	margin-bottom: 7px;
}


// appear
.post-teaser-list.first-layout{
	opacity: 0.01;
}
.post-teaser-list{
	opacity: 1;
	transition: opacity .5s ease-out;
}
.post-teaser.post-teaser-appear{
	opacity: 0.01;
}
.post-teaser.post-teaser-appear-active{
	opacity: 1;
	transition: opacity .75s ease-out;
}

// leave
.post-teaser.post-teaser-leave{
	opacity: 1;
}
.post-teaser.post-teaser-leave-active{
	opacity: 0;
	transition: opacity .5s ease-in;
}
.post-teaser.post-teaser-leave-active.selected{
	opacity: 0.7;
	width: 0 !important;
	transition: width .45s cubic-bezier(.42,.03,.4,1) .7s, opacity .25s linear .8s;

	.post-title span{
		color: black;
		transition: color .5s ease-in .25s;
	}
	.post-category{
		color: #F52051;
		transition: color .5s ease-in .25s;
	}
	.post-tag-list, p, img{
		opacity: 0.01;
		transition: opacity .5s ease-in .25s;
	}
}

// enter
.post-teaser.post-teaser-enter{
	opacity: 0.01;
}
.post-teaser.post-teaser-enter-active{
	opacity: 1;
	transition: opacity .5s ease-out;
}

// layout
.post-teaser{
	transition: transform 1s ease-out;
}

.post-teaser-list.first-layout .post-teaser{
	transition: none;
}

.post-teaser .post-title {
	width: 95%;
	span{
		background: black;
    	color: white;
    	line-height: 1.25em;
    	font-size: 23px;
	}
}

// pagination
.pagination {
    list-style: none;
    overflow: hidden;
    padding: 0;
    width: 50%;
    margin: 30px auto;
    text-align: center;
}

.pagination li {
	display: inline-block;
	margin: 0 5px;
}