.post-teaser-list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.post-teaser{
	width: 200px;
	min-height: 200px;
	margin: 5px;
	padding: 0 15px;
	p{
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
}
.post-teaser:first-child{
	flex-grow: 1;
	min-width: 400px;
}

// appear
.post-teaser.post-teaser-appear{
	opacity: 0.01;
}
.post-teaser.post-teaser-appear-active{
	opacity: 1;
	transition: opacity .75s ease-out;
}

// leave
.post-teaser.post-teaser-leave{
	opacity: 1;
}
.post-teaser.post-teaser-leave-active{
	opacity: 0.01;
	transition: opacity .5s ease-in;
}

// enter
.post-teaser.post-teaser-enter{
	opacity: 0.01;
}
.post-teaser.post-teaser-enter-active{
	opacity: 1;
	transition: opacity .5s ease-out;
}

.post-teaser .post-title {
	width: 95%;
	a{
		background: black;
    	color: white;
    	line-height: 1.25em;
	}
}