// .post-my-little-man .post.post-appear{
// 	background: none;
// }
// .post-my-little-man .post,
// .post-my-little-man .post.post-appear-active{
body{
	background: none;
}
body.post-my-little-man{
	background: pink;
	transition: background 1s ease-out;
}