@import '../common/styles/variables';
footer {
    font-size: 11px;
    color: $light;
    background-color: $dark;
    min-height: 500px;
    position: relative;
    z-index: 1;
    margin-left: -$page-margin;
    margin-right: -$page-margin;
    font-size: 14px;
    .inner{
        padding: 20px;
    }
    a{
        color: $light-a;
    }
}

footer h3 {
    color: #828282;
    font-size: 1.4em;
    border-top: solid 1px #4e4e4e;
    padding-top: 10px;
    margin: 10px 20px 10px 0;
}

footer .post-teaser p {
    color: #cecece;
}

footer .section{
    float: left;
}

footer .featured{
    width: 70%;
    overflow: hidden;
}

footer {
    .taxonomy, .about, .elsewhere{
        width: 30%;
    }
}

footer .elsewhere{
    li{
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    a{
        display: inline-block;
    }
    svg{
        width: 30px;
        height: 30px;
    }
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .post-teaser-list{
    float: left;
    width: 50%;
}

footer .post-teaser-list > ul{
    padding: 0;
    margin: 0 $page-margin 0 0;
}

.site-info{
    clear: both;
    font-size: 12px;
}