.post-categories{
	margin-top: -15px;
	padding-left: 0;
	list-style: none;
	overflow: hidden;
	font-size: 14px;
}

.post-category{
	float: left;
}

.post-category:after{
	content: "|";
	padding: 0 3px;
	font-size: 80%;
	vertical-align: top;
	color: #4a4a4a;
}

.post-category:last-child:after{
	content: "";
}