@import 'vendor/fontello/css/fontello.css';
@import 'vendor/fontello/css/animation.css';
body {
    margin: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

footer#colophon {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    padding: 2px 3px;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0.3;
    border-radius: 0 3px 0 0;
    a {
        color: #FDFDFD;
    }
}

.loading-indicator {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.85);
    position: absolute;
    top: 0;
    left: 0;
}

.loading-indicator [class^=icon] {
    display: block;
    position: absolute;
    // width: 20px;
    // height: 20px;
    left: 50%;
    top: 50%;
    // margin: -10px 0 0 -10px;
    // text-indent: 200%;
    // overflow: hidden;
    font-size: 20px;
}

.loading-indicator.post-teaser-appear {
    opacity: 0.01;
}

.loading-indicator.post-teaser-appear-active {
    opacity: 1;
    transition: opacity .5s;
}

.loading-indicator.post-teaser-leave {
    opacity: 1;
}

.loading-indicator.post-teaser-leave-active {
    opacity: 0;
    transition: opacity .5s;
}